{% extends 'base.html.twig' %}
{% block title %}Contacter-nous{% endblock %}
{% block body %}
    <h1>Contacter nous</h1>
    <div class="jumbotron">
        <form action="" method="post" class="mt-4">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" name="name" class="form-control" id="name" value="laonnumerique@gmail.com" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="email" value="{{ email }}"/>
            </div>
            <div class="form-group">
                <label for="msg">Message</label>
                <textarea name="msg"  id="msg" class="form-control" rows="3">Bonjour, {{ name }}</textarea>
            </div>
            <div class="form-group">
                <input type="submit" name="send" class="btn btn-success" id="send" value="Envoyer" />
            </div>
        </form>
    </div>
{% endblock %}
