{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-danger mt-5">S'il vous plait merci de rentrer une adresse mail valide</h1>
    <a href="{{ path('contact') }}">
        <button class="btn btn-primary mt-5">Retour</button>
    </a>
{% endblock %}