{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-success mt-5">Message envoyer avec succès</h1>
    <h3>Nous ferons au mieux pour te donner réponse au plus vite n'oublie pas de consulter ta boîte mail !</h3>
    <a href="{{ path('home') }}">
        <button class="btn btn-success">Accueil</button>
    </a>
{% endblock %}